@import "../../mixins.scss";

.contentBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 2.813rem;
  position: relative;

  .content-card {
    width: 100%;
    padding-bottom: 0.938rem;
    display: flex;
    background-color: #fff;
    position: relative;
    @include for-tablet-landscape-down {
      flex-direction: column;
    }

    .content-award {
      width: 136px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 24px;
      position: absolute;
      top: -15px;
      border-radius: 0 8px 8px 0;
      background-color: #ff7724;
      color: #fff;
      @include for-tablet-landscape-down {
        width: 80px;
        height: 25px;
        font-size: 0.6rem;
        gap: 5px;
      }
    }

    .content-sq-num {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 28px;
      position: absolute;
      left: -20px;
      top: 30px;
      border: 1px solid #e1e4e6;
      border-radius: 50%;
      background-color: #fff;
      color: #626e79;
      @include for-tablet-landscape-down {
        width: 22px;
        height: 22px;
        left: -10px;
        font-size: 0.85rem;
      }
    }

    .content-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 0.813rem;
      font-weight: 400;
      line-height: 20px;
      color: #626e79;
      flex: 1;

      img {
        width: 141px;
        height: 103px;
        margin-bottom: 0.313rem;
      }
    }

    .content-desc {
      padding-top: 20px;
      flex: 2;
      font-size: 1rem;
      font-weight: 400;
      line-height: 24px;
      color: #4b5665;
      @include for-tablet-landscape-down {
        font-size: 0.75rem;
        padding: 0.75rem 1.25rem;
      }

      span {
        font-weight: 700;
      }

      .offerTag {
        width: 61px;
        height: 26px;
        margin: 0.5rem 0 0 0;
        border-radius: 4px;
        font-size: 0.813rem;
        font-weight: 400;
        line-height: 20px;
        background-color: #f2f4f7;
        color: #074786;
        text-align: center;
      }

      .content-inner-desc {
        margin-top: 0.313rem;
        span {
          color: #000;
        }

        p {
          padding: 0.625rem 0 0.625rem 1.25rem;
        }

        .content-list {
          width: 90%;
          height: 116px;
          margin: 0.313rem 0 0.625rem 1.25rem;
          border-radius: 12px;
          background-color: #fff4ed;
          color: #000;
          position: relative;
          @include for-tablet-landscape-down {
            width: 80%;
          }

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0.625rem 1.25rem;
            gap: 10px;

            li {
              font-size: 0.938rem;
              font-weight: 400;
              line-height: 24px;
              color: #4b5665;
              @include for-tablet-landscape-down {
                font-size: 0.75rem;
              }

              span {
                width: 40px;
                height: fit-content;
                border-radius: 4px;
                padding: 0.313rem;
                margin-right: 0.313rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 24px;
                align-items: center;
                color: #1b88f4;
                background-color: #fff;
                @include for-tablet-landscape-down {
                  font-size: 0.75rem;
                }
              }
            }
          }
        }

        .content-info {
          h4 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 24px;
            color: #2c384a;
            position: relative;
          }

          ul {
            list-style: none;

            li {
              margin: 5px 0;

              span {
                width: 18px;
                height: 18px;
                font-size: 0.625rem;
                padding: 0.313rem;
                margin-right: 0.313rem;
                border-radius: 50%;
                background-color: #ebf5ff;
                color: #1b88f4;
              }
            }
          }
        }
      }

      .content-link {
        padding-top: 0.625rem;
        padding-bottom: 0.313rem;
        position: relative;

        a {
          text-decoration: none;
          color: #1b88f4;
        }
        .link {
          position: absolute;
          top: 0;
          left: -30px;
          @include for-tablet-landscape-down {
           left: 0; 
          }
        }
      }
    }

    .content-rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;
      flex: 1;

      .content-rating-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 118px;
        border-radius: 0 0 12px 12px;
        background-color: #f3f9ff;
        @include for-tablet-landscape-down {
          position: absolute;
          top: -383px;
          right: 0;
          width: 100px;
          height: 100px;
          text-align: center;
          border-radius: 0 0 8px 8px;
          background-color: #f3f9ff;
        }
        @include for-tablet-portrait-down {
          display: none;
        }

        .rating {
          padding: 0.313rem 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 48px;
          color: #074786;
          @include for-tablet-landscape-down {
            font-size: 1.5rem;
          }

          .infoIcon {
            position: absolute;
            color: #b6cee4;
            @include for-tablet-landscape-down {
              flex-direction: column;
              top: 2px;
            }
          }
        }

        h4 {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 20px;
          color: #074786;
          @include for-tablet-landscape-down {
            font-size: 0.6rem;
          }
        }

        .stars {
          width: 66px;
          height: fit-content;
          color: #ffb80f;
        }
      }
      .content-rating-box-secondary {
        top: -528px;
      }

      button {
        width: 85%;
        height: 48px;
        margin-bottom: 0.625rem;
        border: none;
        outline: none;
        border-radius: 12px;
        background-color: #1b88f4;
        color: #fff;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
